* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    margin: auto;
    padding: 0;
}



.all-recipe-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 20px 0;
}

.all-recipe-title h1 {
    font-family: "playfair display";
    color: #344F1F;
    font-size: 36px;
}

.all-recipe-title img {
    width: 80px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    width: 100%;
    max-width: 230px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    transition: transform 0.25s;
    font-family: 'Playfair Display';
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 70%;
    max-height: 230px;
    display: block;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    flex: 12px;
    padding: 10px;
}

.star-rating {
    color: gold;
}

.recipe-rating {
    font-size: 12px;
    font-weight: 200;
}

.recipe-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.pagination {
    font-family: "Montserrat";
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.page {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.25s, color 0.25s;
}

.page:hover {
    background-color: #ef8a1f;
    color: #fff;
}

.page.active {
    background-color: #ef8a1f;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.search-section {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 14px;
    width: 100%;
    max-width: 500px;
    transition: box-shadow .2s;
    margin-bottom: 40px;
}
#search-icon{
    color: rgba(0, 0, 0, 0.25);
}
#search-bar {
    flex: 1;
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
}
#search-bar::placeholder{
    color: rgba(0, 0, 0, 0.25);
}
.search-section:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);;
}
.back-container {
    width: 1000px;
    margin: 10px;
}


.back-button {
    font-family: "playfair display";
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;     
    margin-bottom: 10px;
    color: #344F1F;
}

.back-button:hover {
    color: #ef8a1f;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #f5d63b;
  margin-bottom: 8px;
}

.stars {
  height: 15px;
}

.review-count {
  font-size: 0.9rem;
  font-weight: 400;
  color: #4a4a4a;
}

@media (Max-width: 768px) {
    .all-recipe-title h1 {
        font-size: 24px;
    }

    .all-recipe-title img {
        width: 60px;
    }

    .recipe-grid {
        gap: 10px;
    }

    .card {
        width: 140px;
        height: 230px;
    }

    .recipe-rating {
        font-size: 8px;
    }
    .card-image{
        height: 130px;
    }
    .review-count{
        font-size: 10px;
    }

    .recipe-title {
        font-size: 12px;
    }

    .star-rating span {
        font-size: 12px;
    }
    .back-container{
        width: 600px;
    }
    .back-button{
        font-size: 1.2rem;
    }
}

@media (max-width:600px) {
    main {
        padding: 0 10px;
    }

    .recipe-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .page {
        font-size: 12px;
    }
    .back-container{
        width: 310px;
    }
    .back-button{
        font-size: 1.2rem;
    }

}