/* Comments List */

.comment-list h4 {
  font-weight: 700;
  margin-bottom: 18px;
  color: #39531a;
  font-size: 1.3rem;
  border-bottom: 1px solid #39531a;
  padding-bottom: 10px;
}

.comment {
  display: flex;
  gap: 18px;
  margin-bottom: 32px;
  font-family: Georgia, serif;
}

.avatar {
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #998dbd;
  margin-top: 6px;
  
}

.comment-author-con {
  display: flex;
  justify-content: space-between;
}

.comment-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.comment-author {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 12px 0;
  color: #3a5221;
}

.comment-text {
  font-size: 1rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 10px;
  line-height: 1.4;
}

.comment-rating {
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.comment-rating {
  font-weight: 700;
  color: #f5d63b;
  font-size: 0.8rem;
}

.comment-rating .stars {
  color: #f5d63b;
  font-weight: 700;
  font-size: 1.1rem;
}

.reply-btn {
  background: none;
  border: none;
  font-weight: 800;
  font-size: 0.85rem;
  letter-spacing: 1.3px;
  color: #39531a;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
  align-self: flex-end;
}

.reply-btn:hover {
  color: #ef8a1f;
  text-decoration: underline;
}

/* Load More Comments Button */
.load-more-btn {
  display: block;
  margin: 0 auto 40px;
  padding: 14px 34px;
  background-color: #39531a;
  color: #f3ebc5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.load-more-btn:hover {
  background-color: #2d3e12;
}

/* @media screen and {
  
} */