footer {
  background-color: #39531a;
  color: white;
  padding: 30px ;
  font-family: Georgia, serif;
  font-weight: 500;
}

.footer-container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.footer-brand {
  font-family: 'Inspiration', cursive;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
}

.footer-desc {
  max-width: 400px;
  font-size: 1rem;
  line-height: 1.45;
  margin-bottom: 25px;
  color: white;
  letter-spacing: 0.5px;
}


.social-icons-footer {
  display: flex;
  gap: 18px;
  margin-bottom: 20px;
}

.social-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 205, 184, 0.5);
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-icon-footer svg {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}

.social-icon-footer:hover {
  background-color: #ef8a1f;
  color: white;
}

.footer-links {
  display: flex;
  gap: 200px;
  color: white;
}

.footer-links h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer > p {
  text-align: center;
  margin-top: 35px;
  font-size: 0.82rem;
  font-weight: 400;
  color: white;
}

@media screen and (max-width: 600px) {
  .social-icons-footer {
    margin-bottom: 0;
  }
}