
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Bitter', serif;
  background-color: #fff;
  color: #1a1a1a;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 1180px;
  margin: 80px auto;
}

.column-divider-container {
  display: flex;
  gap: 30px;
}

.single-column-container {
  width: 70%;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

/* .reviews {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #f5d63b;
  margin-bottom: 18px;
}

.stars {
  height: 20px;
}

.review-count {
  font-size: 1.2rem;
  font-weight: 400;
  color: #4a4a4a;
} */