.subscription-section {
    background-color: #F2EAD3;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-container {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.social-container h2 {
    font-family: "playfair display";
    font-weight: 600;
}

.social-icons {
    margin-bottom: 0;
}

.socials {
    background-color: #344F1F;
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #344F1F;
    width: 45px;
    height: 45px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.25s;
}

.socials img {
    max-width: 22px;
    height: 22px;
    filter: invert(100%);

}

.socials:hover {
    border-color: #ef8a1f;
}

.email-updates {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.email-updates h2 {
    font-family: "playfair display";
    font-size: 22px;
    font-weight: 300;
}

.email-info form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.info-input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-family: "playfair display";
}

.info-input {
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    transition: box-shadow .25s;
}

.info-input:focus-within,
.info-input:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.send-btn {
    height: 40px;
    box-sizing: border-box;
    font-family: "Montserrat";
    border: none;
    background-color: #344F1F;
    padding: 10px;
    color: #FFFFFF;
    transition: box-shadow .25s, background-color 0.25s;
}

.send-btn:hover {
    background-color: #ef8a1f;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

#emailForm {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 15px;
}

@media (max-width: 600px) {
    .subscription-section {
        flex-direction: column;
        gap: 20px;
    }

    .social-container h2 {
    font-size: 16px;
    }

    .social-icons {
    display: flex;
    gap: 1rem;
    }

    .email-updates {
        height: auto;
        width: 70%;
    }

    .email-updates h2 {
    font-size: 16px;
    text-align: center;
    }

    .email-info {
    width: 100%;
    }

    .email-info form {
    width: 100%;
    gap: 10px;
    }

    .info-input {
    max-width: 80%;
    width: 170px;
    height: 25px;
    }

    .info-input::placeholder{
    font-size: smaller;
    }

    .send-btn {
    width: 60px;
    height: 30px;
    text-align: center;
    }

    #emailForm {
        align-items: center;
        margin-bottom: 20px;
    }
}