* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    padding: 2rem 0;
    background-color: #F2EAD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hero-title {
    font-family: "Playfair Display";
    font-size: 2.625rem;
}

.hero-description {
    width: 600px;
    font-family: "Playfair Display";
    text-align: center;
    font-size: 1rem;
    animation: Fade ease-out 1.5s forwards;
}

@keyframes Fade {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.search-section {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 14px;
    width: 500px;
    transition: box-shadow .2s;
}

#search-bar {
    flex: 1;
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
}

#search-bar::placeholder,
#search-icon {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.search-section:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.featured-recipes {
    font-family: "Playfair Display";
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.featured-title {
    color: #344F1F;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.featured-description {
    width: 500px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

hr {
    width: 100%;
    background-color: #F2EAD3;
    opacity: 0.5;
    margin: auto;
}

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 150px;
    gap: 8px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 0 8px;
    border-radius: 10px;
    transition: transform .25s;
}

.card:hover {
    transform: scale(1.05);
}

.image-recipe {
    width: 120px;
    height: 120px;
    object-fit: cover;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    border-radius: 5px;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.recipe-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #f5d63b;
}

.stars {
    height: 15px;
}

.review-count {
    font-size: 0.8rem;
    font-weight: 400;
    color: #4a4a4a;
}

.all-recipe-btn {
    font-size: 1rem;
    text-align: center;
    width: 200px;
    font-family: "Montserrat";
    background-color: #ef8a1f;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 2rem auto;
    padding: 1rem;
    transition: background-color 0.25s;
}

.all-recipe-btn:hover {
    background-color: #d78819;
}

.category-section {
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 1180px;
    margin: 10px auto 5rem auto;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.category-titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 1rem 0;
}

.category-title {
    font-size: 18px;
    font-weight: 600;
}

.category-list {
    color: #344F1F;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 80px;
    margin: 0 2rem;
    padding: 0 50px;
}

.category a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    transition: color .2s;
}

.category a:hover {
    color: #ef8a1f;
}

@media (max-width: 1024px) {
    .recipe-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        max-width: 600px;
        margin: auto;
    }

    .category-title {
        margin-left: 2rem;
    }

    hr {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .hero-container {
        padding: 1rem 0;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-description {
        width: 400px;
        font-size: 12px;
        text-align: center;
    }

    .search-section {
        width: 300px;
    }

    #search-bar::placeholder {
        font-size: 12px;
    }

    .featured-description {
        width: 300px;
        font-size: 12px;
    }

    body {
        overflow-x: hidden;
    }

    hr {
        width: 95%;
    }

    .recipe-cards {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;
        padding: 0;
        margin: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        height: 220px;
    }

    .recipe-cards::-webkit-scrollbar {
        display: none;
    }

    .card {
        flex-direction: column;
        text-align: center;
        width: 140px;
        height: 200px;
        padding: 10px;
        flex: 0 0 auto;
        scroll-snap-align: start;
        box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.25);
    }

    .image-recipe {
        width: 110px;
        height: 100px;
    }

    .card-description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recipe-title {
        font-size: 10px;
    }

    .reviews {
        align-items: center;
        justify-content: center;
    }

    .stars {
        font-size: 10px;
        width: 60px;
        height: 12px;
    }

    .review-count {
        font-size: 8px;
    }

    .all-recipe-btn {
        font-size: 12px;
        width: 150px;
    }

    .category-wrapper {
        padding: 0;
    }

    .category-title {
        margin-left: 1rem;
    }

    .category-list {
        font-size: 18px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        gap: 12px 40px;
    }

    .category a {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .hero-description {
        font-size: 10px;
        width: 300px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px 8px 0 0;
    overflow-y: auto;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color .2s;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
}

.modal-recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    gap: 1rem;
    margin-top: 20px;
    padding: 1rem;
}

.modal-recipe-grid .card {
    width: 240px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    transition: transform 0.25s;
    font-family: 'Playfair Display';
}

.modal-recipe-grid .card:hover {
    transform: scale(1.05);
}

.modal-recipe-grid .card-image {
    width: 100%;
    height: 210px;
    aspect-ratio: 1/1;
    display: block;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    border-radius: 0;
    object-fit: cover;
}

.modal-recipe-grid .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    flex: 12px;
    padding: 0 10px;
}

.modal-recipe-grid .star-rating {
    color: gold;
}

.modal-recipe-grid .recipe-rating {
    font-size: 12px;
    font-weight: 200;
}

.modal-recipe-grid .recipe-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.modal-recipe-grid .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #f5d63b;
    margin-bottom: 12px;
}

.modal-recipe-grid .stars {
    height: 20px;
    width: 100px;
}

.modal-recipe-grid .review-count {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
}

@media (max-width: 1024px) {
    .modal-recipe-grid{
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    .modal-recipe-grid .card{
        width: 220px;
        height: 340px;
    }
    .modal-recipe-grid .review-count{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .modal-recipe-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 0;
    }

    .modal-recipe-grid .card {
        width: 200px;
        height: 300px;
    }
    .modal-recipe-grid .recipe-rating {
        font-size: 8px;
    }

    .modal-recipe-grid .card-image {
        width: 180px;
        height: 190px;
        padding: 10px 10px 0;
    }

    .modal-recipe-grid .recipe-title {
        font-size: 14px;
    }

    .modal-recipe-grid .star-rating span {
        font-size: 12px;
    }
    .modal-recipe-grid .stars{
        height: 15px;
        width: auto;
    }
    .modal-recipe-grid .review-count{
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .modal-recipe-grid{
        margin: auto;
        width: 450px;
    }
}

@media (max-width: 400px) {
    .modal-recipe-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding: 0;
    }
}